* {
    width: 70vw;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    border: 1px solid green;
    padding: 50px 30px;
}

h1 {
    font-size: xxx-large;
}

h3 {
    font-size: xx-large;
}

h1,
h3,
section {
    margin-bottom: 20px;
}

header>h1 {
    color: burlywood;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
}

ol {
    padding: 0;
}